.btn-link{
  border: none;
  border-radius: 4px;
  background-color: transparent;
  padding: 10px;
  transition: all 0.3s;
  outline: none;
  &:hover, &:focus{
    background-color: rgba(127, 161, 231, 0.09);
  }
}