
.sidebar {
  grid-area: sidebar;
  border-radius: 10px;
}
.nav{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.sidebar-btn{
  margin-bottom: 5px;
}
.sidebar-btn__settings{
  margin-top: 20px;
  margin-bottom: 0;
}
